{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ Title }}</title>
    <link rel="stylesheet" href="{% static 'Words/css/style.css' %}" type="text/css">
</head>
<body>
    <div class="menu">
        <ul>
            {% for m in menu %}
                {% if m.select == selected %}
                    <li><a class="selected" href="{% url m.url %}">{{ m.name }}</a></li>
                {% else %}
                    <li><a href="{% url m.url %}">{{ m.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% block content %}

    {% endblock %}
</body>
</html>