{% extends "Words/base.html" %}
{% load static %}
{% load words_tags %}


{% block content %}
<div class="word_info">
    <p>Пара слов: {{ word.name_rus }} - {{ word.name_eng }}</p><br>
    <p>Дата добавления пары: {{ word.created|date:"d F Y" }}</p><br>
    <p>C момента добавления прошло: {% time_difference %}</p><br>
    <p>Количество ошибок: {{ word.errors }}</p><br>
    <p>Количество правильных ответов: {{ word.correct }}</p><br>

    <form action="{% url 'detail_view' word.pk %}" method="post">
     {% csrf_token %}
    <input type="hidden" id="pk" value="{{ word.pk }}">
    <button type="submit" class="button_remove" id="button">Удалить пару</button>
    </form>

</div>

<script src="{% static 'Words/js/remove.js' %}"></script>


{% endblock %}